<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSIAM3t8QkrsO2kiz0c7r2LKF4yVv4o_k</string>
	<key>GCM_SENDER_ID</key>
	<string>827007388641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sumit.spofficial.spendAnalytics</string>
	<key>PROJECT_ID</key>
	<string>spend-analytics-a010c</string>
	<key>STORAGE_BUCKET</key>
	<string>spend-analytics-a010c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827007388641:ios:8c966ccb5e976fad0020a0</string>
</dict>
</plist>